body {
    background-color: #ECDDD0;
    margin: auto;
}
#dropdown-btn {
    display: none;
}
.header-pic {
    height: 170px;
    width: 100%; 
}
.head-container {
    display: grid;
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}
header {
    height: 80px;
    width: auto;
    background-color: #92B1B6;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home, 
.records, 
.about-us, 
.contact,
#dropdown-btn a{
    width: 80px;
    height: 30px;
    background-color: #F1C5AE;
    font-family: Eczar;
    font-size: large;
    text-align: center;
}
a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    display: grid;
    column-gap: 17%;
    text-decoration: none;
    color: black; 
}
a:hover {
    background-color: #ECDDD0;
}
.head-logo {
    grid-column: 3;
}
.home {
    grid-column: 5;	
}
.records {
    grid-column: 6;
}
.about-us {
    grid-column: 7;
}
.contact {
    grid-column: 8;
}
.search { 
    grid-column: 11;
}
#maincontainer{
    width: 90%;
    display: grid;
    margin: 10px auto;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
h2{
    font-weight: 100;
    font-family: eczar;
    color: #35455d;
}
.Cam,
.Em,
.Nat,
.Raz{
    opacity: 0.5;
    border-radius: 50%;
    margin: 40px;
}
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
    bottom: 0;
    height: 250px;
    background-color: #92B1B6;
}
.footer-logo {
    grid-column: 3;
}
.subscribe{
    grid-column: 5;
}
.social-media-logo {
	width: 3vw;
}
.social-media a:hover{
    transform: scale(1.5);
}
.hlink {
	color: black;
}
.hlink:hover {
	color: #35455d;
	text-decoration: none;
}
.social-media {
    color: #35455d;
    font-family: Eczar;
	grid-column: 9;
	position: relative;
	display: flex;
    flex-direction: row;
}
.followus{
    grid-column: span 2;
    grid-row: 1;
    font-size: larger;
    color: #ecddd0;
    justify-self: center;
}
.telcontact{
    grid-column: 12;
    font-family: Eczar;
    font-size: larger;
    justify-self: center;
}
@media screen and (min-width: 768px) {
    .head-logo {
        grid-column: 3;  
    }
    .home {
        grid-column: 5;
    }
    .records {
        grid-column: 6;
    }
    .about-us {
        grid-column: 7;
    }
    .contact {
        grid-column: 8;
    }
    .search {
         grid-column: 11;
    }
}
@media screen and (max-width: 768px) {
    #maincontainer{
        display: flex;
        flex-direction: column;
    }
    body {
        width: 100%;
    }
    .header-pic {
        display: none;
    }
    .head-container {
        min-height: 170px;
    }
    header {
        height: 140px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 15px;
    }
    .head-logo {
        grid-column: 7;
        grid-row: 1;
    }
    .home { 
        grid-column: 5;
        grid-row: 2;
    }
    .records {
        grid-column: 6;
        grid-row: 2;
    }
    .about-us {
        grid-column: 7;
        grid-row: 2;
    }
    .contact {
        grid-column: 8;
        grid-row: 2;
    }
    .search {
         grid-column: 11;
         grid-row: 2; 
    }
}
@media screen and (max-width: 471px) {
    #dropdown-btn {
        position: relative;
        display: inline-block;
    }
    #dropdown-content {
        display: flex;
        flex-direction: row;
        display: none;
        list-style: none;
        position: absolute;
        top:10px;
        background-color: #ECDDD0;
        width: fit-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        opacity: 0.8;
    }
    #dropdown-content a:hover{
        background-color: #ecddd0;
    }
    #dropdown-btn:hover #dropdown-content {
        display: block;
    }
    #maincontainer img,
    .search,
    .search-cart{
        display: none;
    }
    .menu-items{
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: auto;
        height: 185px;
    }
    .head-container {
        height: 185px;
    }
    footer {
        grid-template-rows: repeat(2, 1fr);
    }
    .social-media {
        grid-row: 2;
        grid-column: 5;
    }
    .telcontact {
        grid-row: 2;
        grid-column: 6;
        align-self: start;
    }
}
.social-media a {
    align-self: center;
    grid-column: 2;
}
.social-media img{
    padding: 1vh;
    grid-column: 1;
}