
#section-1 {
    background-image: url(img/vinyl-beige-rose.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.latestnews {
    grid-column: 1;
    grid-row: 2;
    padding-right: 10%;
}

.latestnews-text {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8%;
    padding-left: 15%;
}

#section-2 {
    background-image: url(img/vinyl-pink.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.lastrecieved {
    grid-column: 2;
    grid-row: 2;
    padding-left: 10%;
    text-align: right;
}

.lastrecieved-text {
    grid-column: 2;
    grid-row: 2;
    padding-top: 8%;
    padding-right: 15%;
    text-align: right;
}

#section-3 {
    background-image: url(img/vinyl-apricose.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.latestrelease {
    grid-column: 1;
    grid-row: 2;
    padding-right: 10%;
}

.latestrelease-text {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8%;
    padding-left: 15%;
}


#section-toprecords {
    background-image: url(img/vinyl-sunset.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.toprecords {
    grid-column: 1;
    }

    @media screen and (max-width: 960px;) {
        
    }

    @media screen and (max-width: 680px) {
        
    }

    @media screen and (max-width: 460px) 
    {
        header {
            height: 300px;
        }

        #section-1 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }        
        .latestnews {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .latestnews-text {
            grid-column: 1;
            grid-row: 2;
        }


        #section-2 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }
        .lastrecieved {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .lastrecieved-text {
            grid-column: 1;
            grid-row: 2;
        }


        #section-3 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }
        .latestrelease {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .latestrelease-text {
            grid-column: 1;
            grid-row: 2;
        }
    }

