
#section-1 {
    background-image: url(img/vinyl-beige-rose.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.latestnews {
    grid-column: 1;
    grid-row: 2;
    padding-right: 10%;
}

.latestnews-text {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8%;
    padding-left: 15%;
}

#section-2 {
    background-image: url(img/vinyl-pink.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.lastrecieved {
    grid-column: 2;
    grid-row: 2;
    padding-left: 10%;
    text-align: right;
}

.lastrecieved-text {
    grid-column: 2;
    grid-row: 2;
    padding-top: 8%;
    padding-right: 15%;
    text-align: right;
}

.records2 {
    grid-column: 2;
    grid-row: 2;
    justify-self: right;
    align-self: flex-end;
    margin: 0px 15px 5px 0px;
}

  .records2, .albumbeatles {      
        width: 86px;
        height: 30px;
        /* background-color: #F1C5AE; */
        font-family: Eczar;
        font-size: large;
        text-align: center;
        list-style-type: none;
        /* margin: 0;
        padding: 0;
        float: left; */
        text-decoration: none;
        color: white;
}

.albumbeatles {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    align-self: flex-end;
    margin: 0px 0px 5px 10px;
}

#section-3 {
    background-image: url(img/vinyl-apricose.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.latestrelease {
    grid-column: 1;
    grid-row: 2;
    padding-right: 10%;
}

.latestrelease-text {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8%;
    padding-left: 15%;
}


#section-toprecords {
    background-image: url(img/vinyl-sunset.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.toprecords {
    grid-column: 1;
    }

    

    /* MEDIA SMALL LAPTOP RESPONSIVE  */

    @media screen and (max-width: 960px) {
        .toprecords {
            grid-row: 1;
        }
        .slider {
            grid-row: 2;
        }

  
        .latestnews {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }


        .lastrecieved {
            grid-column: 2;
            grid-row: 1;
            align-self: end;
        }


        .latestrelease {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
    }

    /* MEDIA TABLET RESPONSIVE  */

    @media screen and (max-width: 768px) {
        #section-toprecords {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }        
        .toprecords {
            grid-column: 1;
            grid-row: 1;
            align-self: center;
        }
        .slider {
            grid-column: 1;
            grid-row: 2;
        }


        #section-1 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }        
        .latestnews {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .latestnews-text {
            grid-column: 1;
            grid-row: 2;
        }


        #section-2 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }
        .lastrecieved {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .lastrecieved-text {
            grid-column: 1;
            grid-row: 2;
        }


        #section-3 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }
        .latestrelease {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .latestrelease-text {
            grid-column: 1;
            grid-row: 2;
        }
    }

    /* MEDIA MOBILE RESPONSIVE */

    @media screen and (max-width: 470px) 
    {
        header {
            height: 300px;
        }


        #section-toprecords {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;

            margin-top: 25%;
        }        
        .toprecords {
            grid-column: 1;
            grid-row: 1;
            align-self: center;
        }
        .slider {
            grid-column: 1;
            grid-row: 2;
        }


        #section-1 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }        
        .latestnews {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .latestnews-text {
            grid-column: 1;
            grid-row: 2;
        }


        #section-2 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }
        .lastrecieved {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .lastrecieved-text {
            grid-column: 1;
            grid-row: 2;
        }


        #section-3 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2;
        }
        .latestrelease {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
        }
        .latestrelease-text {
            grid-column: 1;
            grid-row: 2;
        }
    }

