
#section-1 {
    background-image: url(img/vinyl-beige-rose.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.latestnews {
    grid-column: 1;
    grid-row: 2;
    padding-right: 10%;
}

.latestnews-text {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8%;
    padding-left: 15%;
}

#section-2 {
    background-image: url(img/vinyl-pink.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.lastrecieved {
    grid-column: 2;
    grid-row: 2;
    padding-left: 10%;
    text-align: right;
}

.lastrecieved-text {
    grid-column: 2;
    grid-row: 2;
    padding-top: 8%;
    padding-right: 15%;
    text-align: right;
}

#section-3 {
    background-image: url(img/vinyl-apricose.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.latestrelease {
    grid-column: 1;
    grid-row: 2;
    padding-right: 10%;
}

.latestrelease-text {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8%;
    padding-left: 15%;
}


#section-toprecords {
    background-image: url(img/vinyl-sunset.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 800px;
    width: auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2;
    justify-items: center;

    color: #fff;
    text-shadow: 2px 2px 6px rgb(114, 114, 114);
}

.toprecords {
    grid-column: 1;
}

/*
FOOTER MEDIA 
*/
/* @media screen and (min-width: 1200px) {
    .head-logo {
        grid-column: 3;
    }
    .home {
        grid-column: 5;
    }
    .records {
        grid-column: 6;
    }
    .about-us {
        grid-column: 7;
    }
    .contact {
        grid-column: 8;
    }
    .search {
        
         grid-column: 11;
            
       
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    .header-pic {
        display: none;
    }
    .head-container {
        min-height: 140px;
    }
    
    header {
        height: 140px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 15px;
    }
    .head-logo {
        grid-column: 3;
        grid-row: 1;
    }
    .home {
        grid-column: 1;
        grid-row: 2;
    }
    .records {
        grid-column: 2;
        grid-row: 2;
    }
    .about-us {
        grid-column: 3;
        grid-row: 2;
    }
    .contact {
        grid-column: 4;
        grid-row: 2;
    }
    .search {
        grid-column: 5;
        grid-row: 2;
    }
}

@media screen and (max-width: 471px) {
   header {
       display: flex;
       flex-direction: column;
       box-sizing: border-box;
       width: auto;
   }
   /* .search {
       grid-column: 2;
       grid-row: 2;
   }

} 
   */




/*
MAIN MEDIA 
*/
/* @media  and (max-width: 960px) {
    
} */