.container-store {
    width: 100%;
    display: grid;
    margin: 20px;
    gap: 3%;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    grid-template-areas: 
    "sidebar box-item1 box-item2 box-item3 box-item4 box-item5"
    "sidebar box-item6 box-item7 box-item8 box-item9 box-item10"
    "sidebar box-item11 box-item12 box-item13 box-item14 box-item15"
    "sidebar box-item16 box-item17 box-item18 box-item19 box-item20"
    "sidebar box-item21 box-item22 box-item23 box-item24 box-item25"
    ;
}
.box-item {
     padding: 20px;
     grid-area: item-box;
    }

[class*="box-item"] {
    border-bottom: 1px solid black;
    margin: 10px;
}  
.sidenav-store {
    grid-area: sidebar;
    border-right: 1px solid black;
}

.sidenav-store a, ul li {
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin: 25px 0;
    font-size: 20px;
    padding: 6px 8px 6px 0px;
    
} a:hover {
    padding: 20px;
    background-color: gray;
    color: black;    
}

img {
    width:100%;
    height:100%;
}

p {
    color: black;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (max-width: 1200px) {
    .container-store {
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: auto;
    grid-template-areas:
    "sidebar box-item1 box-item2 box-item3 box-item4"
    "sidebar box-item5 box-item6 box-item7 box-item8"
    "sidebar box-item9 box-item10 box-item11 box-item12"
    "sidebar box-item13 box-item14 box-item15 box-item16"
    "sidebar box-item17 box-item18 box-item19 box-item20"
    "sidebar box-item21 box-item22 box-item23 box-item24"
    ;
    }
}
@media screen and (max-width: 960px) {
    .container-store {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar box-item1 box-item2"
    "sidebar box-item3 box-item4"
    "sidebar box-item5 box-item6"
    "sidebar box-item7 box-item8"
    "sidebar box-item9 box-item10"
    "sidebar box-item11 box-item12" 
    "sidebar box-item13 box-item14" 
    "sidebar box-item15 box-item16" 
    "sidebar box-item17 box-item18" 
    "sidebar box-item19 box-item20" 
    "sidebar box-item21 box-item22"
    "sidebar box-item23 box-item24"
    ;
    }
}
@media screen and (max-width: 768px) {
    .sidenav-store {
    border-bottom: 1px solid black;
    }
    .container-store {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: auto;
    grid-template-areas:
    "sidebar" 
    "box-item1" 
    "box-item2"
    "box-item3" 
    "box-item4"
    "box-item5" 
    "box-item6"
    "box-item7" 
    "box-item8"
    "box-item9" 
    "box-item10"
    "box-item11" 
    "box-item12" 
    "box-item13"
    "box-item14" 
    "box-item15" 
    "box-item16" 
    "box-item17" 
    "box-item18" 
    "box-item19" 
    "box-item20" 
    "box-item21" 
    "box-item22"
    "box-item23" 
    "box-item24"
    ;
    }
}
