
.container-store {
    width: 100%;
    height: 1180px;
    display: grid;
    margin: 15px;
    gap: 7%;
    font-family: Eczar;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    grid-template-areas: 
    "sidebar box-item1 box-item2 box-item3 box-item4 box-item5"
    "sidebar box-item6 box-item7 box-item8 box-item9 box-item10"
    "sidebar box-item11 box-item12 box-item13 box-item14 box-item15"
    "sidebar box-item16 box-item17 box-item18 box-item19 box-item20"
    "sidebar box-item21 box-item22 box-item23 box-item24 box-item25"
    ;
}
.box-item {
     padding: 20px;
     grid-area: box-item;     
    }

.price-text {
    font-family: Eczar;
}

[class*="box-item"] {
    border-right: 1px solid black;
    gap: 10%;

}  
.sidenav-store {
    width: 130px;
    height: 100%;
    gap: 3%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-content: space-between;
    grid-area: sidebar;
    border-right: 1px solid black;
    background-color: #F1C5AF;
    font-family: Eczar;
}

.sidenav-store a, ul {
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin: 20px 0;
    font-size: 20px;
    padding: 6px 8px 6px 0px;
    
}

.container-store img {
    width:100%;
    height:100%;
}

p {
    color: black;
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #92B1B6;
}

/*Desktop*/
@media screen and (min-width: 1200px) {
    .container-store {
        grid-template-columns: repeat(6, 150px);
        grid-template-rows: repeat(5, 150px);
        grid-template-areas: 
        "sidebar box-item1 box-item2 box-item3 box-item4 box-item5"
        "sidebar box-item6 box-item7 box-item8 box-item9 box-item10"
        "sidebar box-item11 box-item12 box-item13 box-item14 box-item15"
        "sidebar box-item16 box-item17 box-item18 box-item19 box-item20"
        "sidebar box-item21 box-item22 box-item23 box-item24 box-item25"
        ;
    }
}
/*tablet*/
@media screen and (max-width: 960px) {

    .container-store {
    gap: 1%;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: auto;
    }
}
/*Mobile*/
@media screen and (max-width: 768px) 
{
    .sidenav-store {
        display: flex;
        justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    }
    .container-store {    
    justify-items: center;
    gap: 1%;
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: 25;
    grid-template-areas:
    "sidebar" 
    "box-item1" 
    "box-item2"
    "box-item3" 
    "box-item4"
    "box-item5" 
    "box-item6"
    "box-item7" 
    "box-item8"
    "box-item9" 
    "box-item10"
    "box-item11" 
    "box-item12" 
    "box-item13"
    "box-item14" 
    "box-item15" 
    "box-item16" 
    "box-item17" 
    "box-item18" 
    "box-item19" 
    "box-item20" 
    "box-item21" 
    "box-item22"
    "box-item23" 
    "box-item24"
    ;
    }
}
