/* body {
    background-size: 100%;
    background-color: #ECDDD0;
    margin: auto;
} */
.container-store {
    width: 100%;
    height: 100%;
    min-height: 1180px;
    display: grid;
    margin: 15px;
    gap: 7%;
    font-family: Eczar;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    grid-template-areas: 
    "sidebar box-item1 box-item2 box-item3 box-item4 box-item5"
    "sidebar box-item6 box-item7 box-item8 box-item9 box-item10"
    "sidebar box-item11 box-item12 box-item13 box-item14 box-item15"
    "sidebar box-item16 box-item17 box-item18 box-item19 box-item20"
    "sidebar box-item21 box-item22 box-item23 box-item24 box-item25"
    ;
}
.container-store a {
text-decoration: none;
}

.box-item {
     padding: 20px;
     grid-area: box-item;     
    }

.price-text {
    font-family: Eczar;
}

[class*="box-item"] {
    border-right: 1px solid black;
    gap: 10%;

}  
.sidenav-store {
    width: 130px;
    height: 100%;
    display: flex;
    padding-left: 30px;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-items: space-between;
    grid-area: sidebar;
    border-right: 1px solid black;
    background-color: #F1C5AF;
    font-family: Eczar;
}

.sidenav-store a, ul {
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin: 20px 0;
    font-size: 20px;
    padding: 6px 8px 6px 0px;
    
}
.rock, .electronic, .rock, .alternative, .punk {
    width: 100%;
}

.container-store img {
    width:100%;
    height:100%;
}

p {
    color: black;
    text-align: center;
}
footer {
    display: grid;
    position:relative;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #92B1B6;
    grid-area: footer;
}


@media screen and (max-width: 1200px) {
    .container-store {
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 4%;
    }
    .sidenav {
        grid-column:1;
        grid-row: 1/6;
    }
    .box-item1 {
        grid-column:2;
	grid-row: 1;

    }
    .box-item2{
        grid-column:3;
        grid-row: 1;
    }
    .box-item3 {
        grid-column:4;
        grid-row: 1;
    }
    .box-item4{
        grid-column:5;
        grid-row: 1;
    }
    .box-item5 {
        grid-column:6;
        grid-row: 1;
    }
    .box-item6{
        grid-column:2;
        grid-row: 2;
    }
    .box-item7 {
        grid-column:3;
        grid-row: 2;
    }
    .box-item8{
        grid-column:4;
        grid-row: 2;
    }
    .box-item9 {
        grid-column:5;
        grid-row: 2;
    }
    .box-item10{
        grid-column:6;
        grid-row: 2;
    }
    .box-item11 {
        grid-column:2;
        grid-row: 3;
    }
    .box-item12 {
        grid-column:3;
        grid-row: 3;
    }
    .box-item13{
        grid-column:4;
        grid-row: 3;
    }
    .box-item14 {
        grid-column:5;
        grid-row: 3;
    }
    .box-item15 {
        grid-column:6;
        grid-row: 3;
    }
    .box-item16{
        grid-column:2;
        grid-row: 4;
    } 
    .box-item17 {
        grid-column:3;
        grid-row: 4;
    }
    .box-item18 {
        grid-column:4;
        grid-row: 4;
    }
    .box-item19 {
        grid-column:5;
        grid-row: 4;
    }
    .box-item20 {
        grid-column:6;
        grid-row: 4;
    }
    .box-item21 {
        grid-column:2;
        grid-row: 5;
    }
    .box-item22{
        grid-column:3;
        grid-row: 5;
    }
    .box-item23 {
        grid-column:4;
        grid-row: 5;
    }
    .box-item24{
        grid-column:5;
        grid-row: 5;
    }
    .box-item25{
        grid-column:6;
        grid-row: 5;
    }
    
}
@media screen and (max-width: 960px) {
    .container-store {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(9, 150px);
        gap: 5%;
        min-height: 2400px;
        }
        header {
            width: 100%;
        }
        footer {
            position: bottom;                     
        }
        .sidenav-store {
        min-height: 2400px;
        }
        .sidenav {
            grid-column:1;
            grid-row: 1/10;
        }
        .box-item1 {
            grid-column:2;
            grid-row: 1;
        }
        .box-item2{
            grid-column:3;
            grid-row: 1;
        }
        .box-item3 {
            grid-column:4;
            grid-row: 1;
        }
        .box-item4{
            grid-column:2;
            grid-row: 2;
        }
        .box-item5 {
            grid-column:3;
            grid-row: 2;
        }
        .box-item6{
            grid-column:4;
            grid-row: 2;
        }
        .box-item7 {
            grid-column:2;
            grid-row: 3;
        }
        .box-item8{
            grid-column:3;
            grid-row: 3;
        }
        .box-item9 {
            grid-column:4;
            grid-row: 3;
        }
        .box-item10{
            grid-column:2;
            grid-row: 4;
        }
        .box-item11 {
            grid-column:3;
            grid-row: 4;
        }
        .box-item12 {
            grid-column:4;
            grid-row: 4;
        }
        .box-item13{
            grid-column:2;
            grid-row: 5;
        }
        .box-item14 {
            grid-column:3;
            grid-row: 5;
        }
        .box-item15 {
            grid-column:4;
            grid-row: 5;
        }
        .box-item16{
            grid-column:2;
            grid-row: 6;
        } 
        .box-item17 {
            grid-column:3;
            grid-row: 6;
        }
        .box-item18 {
            grid-column:4;
            grid-row: 6;
        }
        .box-item19 {
            grid-column:2;
            grid-row: 7;
        }
        .box-item20 {
            grid-column:3;
            grid-row: 7;
        }
        .box-item21 {
            grid-column:4;
            grid-row: 7;
        }
        .box-item22{
            grid-column:2;
            grid-row: 8;
        }
        .box-item23 {
            grid-column:3;
            grid-row: 8;
        }
        .box-item24{
            grid-column:4;
            grid-row: 8;
        }
        .box-item25{
            grid-column:2;
            grid-row: 9;
        }
        footer {
            grid-column: 2/4;
            grid-row: stretch;
        }
}
@media screen and (max-width: 767px) {
    .container-store {
    gap: 1%;
    margin: 3px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(26, 1fr);
    }
    header {
        position: fixed;
        width: 100%;
    }
    #footer {
        display: none;
    }
    .sidenav-store {
        display: none;
    }
    .header-pic {
        display: none;
    }
    .sidenav {
        grid-column:1;
        grid-row: 1;
    }
    .box-item1 {
        grid-column:1;
        grid-row: 2;
    }
    .box-item2{
        grid-column:1;
        grid-row: 3;
    }
    .box-item3 {
        grid-column:1;
        grid-row: 4;
    }
    .box-item4{
        grid-column:1;
        grid-row: 5;
    }
    .box-item5 {
        grid-column:1;
        grid-row: 6;
    }
    .box-item6{
        grid-column:1;
        grid-row: 7;
    }
    .box-item7 {
        grid-column:1;
        grid-row: 8;
    }
    .box-item8{
        grid-column:1;
        grid-row: 9;
    }
    .box-item9 {
        grid-column:1;
        grid-row: 10;
    }
    .box-item10{
        grid-column:1;
        grid-row: 12;
    }
    .box-item11 {
        grid-column:1;
        grid-row: 12;
    }
    .box-item12 {
        grid-column:1;
        grid-row: 13;
    }
    .box-item13{
        grid-column:1;
        grid-row: 14;
    }
    .box-item14 {
        grid-column:1;
        grid-row: 15;
    }
    .box-item15 {
        grid-column:1;
        grid-row: 16;
    }
    .box-item16{
        grid-column:1;
        grid-row: 17;
    } 
    .box-item17 {
        grid-column:1;
        grid-row: 18;
    }
    .box-item18 {
        grid-column:1;
        grid-row: 19;
    }
    .box-item19 {
        grid-column:1;
        grid-row: 20;
    }
    .box-item20 {
        grid-column:1;
        grid-row: 21;
    }
    .box-item21 {
        grid-column:1;
        grid-row: 22;
    }
    .box-item22{
        grid-column:1;
        grid-row: 23;
    }
    .box-item23 {
        grid-column:1;
        grid-row: 24;
    }
    .box-item24{
        grid-column:1;
        grid-row: 25;
    }
    .box-item25{
        grid-column:1;
        grid-row: 26;
    }
}