body {
    background-size: 100%;
    background-color: darkslategray;
}

.head-container {
    display: grid;
    background-color: rgb(126, 26, 1);

}

.pic {
    height: 150px;
    width: auto;
    border: 1px solid #333;
}

header {
height: 80px;
width: auto;
border: 1px solid #333;
background-color: rgb(218, 218, 218);
display: grid;
grid-template-columns: repeat(12, 1fr);
justify-items: center;
align-items: center;
}

.home, .records, .about-us, .contact {
    width: 80px;
    height: 30px;
    background-color: rgb(126, 26, 1);
    font-family: Eczar;
    font-size: large;
    text-align: center;
}

.logo {
    grid-column: 3;
	
}

.home {
    grid-column: 5;
	
}

.search {
    
     grid-column: 11;
        
   
}