body {
    background-size: 100%;
    background-color: #ECDDD0;
}

.head-container {
    display: grid;
    background-color: #ffffff;

}

.pic {
    height: 150px;
    width: auto;
}

header {
height: 80px;
width: auto;
background-color: #92B1B6;
display: grid;
grid-template-columns: repeat(12, 1fr);
justify-items: center;
align-items: center;
}

.home, .records, .about-us, .contact {
    width: 80px;
    height: 30px;
    background-color: #F1C5AE;
    font-family: Eczar;
    font-size: large;
    text-align: center;
}

.logo {
    grid-column: 3;
	
}

.home {
    grid-column: 5;
	
}

.search {
    
     grid-column: 11;
        
   
}