body {
    background-size: 100%;
    background-color: #ECDDD0;
    margin: auto;
}

.head-container {
    display: grid;
}

.header-pic {
    height: 170px;
    width: 100%;
}

header {
    height: 80px;
    width: auto;
    background-color: #92B1B6;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.home, .records, .about-us, .contact {
    width: 80px;
    height: 30px;
    background-color: #F1C5AE;
    font-family: Eczar;
    font-size: large;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    text-decoration: none;
    color: black;
}

.search-cart {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
}

.search, .subscribe {
    width: 140px;
    height: 27px;
    background-color: #ECDDD0;
    font-family: Eczar;
    font-size: large;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    float: left;
    color: black;
    flex-grow: inherit;
}

.cart {
    margin-top: 8px;
}

a:hover {
    background-color: #ECDDD0;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #92B1B6;
}

header, footer {
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
}

.footer-logo {
    grid-column: 3;
}

.telcontact {
    grid-column: 12;
}

.subscribe {
    grid-column: 5;
}

.followus {
    grid-column: 9;
}

.footer-logo {
    grid-column: 3;
}

.telcontact {
    grid-column: 12;
}

.subscribe {
    grid-column: 5;
}

.followus {
    grid-column: span 2;
    grid-row: 1;
}

.social-media-logo {
    width: 2vw;
}

.hlink {
    color: black;
}

.hlink:hover {
    color: red;
    text-decoration: none;
}

.social-media {
    grid-column: 9;
    position: relative;
    display: grid;
}



@media screen and (max-width: 768px) {
  
    .header-pic {
        display: none;
    }
    .head-container {
        min-height: 140px;
    }
    header {
        height: 140px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
    }

   .search-cart {
       grid-row: 2;
       grid-column: 2;
   }
 
   .search {
       width: auto;
   }

    .telcontact {
        grid-row: 2;
        grid-column: 6;
        align-self: start;
    }
}

@media screen and (max-width: 471px) {
    header {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: auto;
        height: 185px;
    }
    .head-container {
        height: 185px;
    }
    .search {
        width: 300px;
    }
    .search-cart {
        justify-self: center;
    }

    footer {
        grid-template-rows: repeat(2, 1fr);
    }

    .social-media {
        grid-row: 2;
        grid-column: 5;
    }

    .telcontact {
        grid-row: 2;
        grid-column: 6;
        align-self: start;
    }
}