body {
    background-size: 100%;
    background-color: #ECDDD0;
}

.head-container {
    display: grid;
    background-color: #ffffff;

}


footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: absolute;
    justify-items: center;
    align-items: center;
    bottom: 0;
    width: auto;
    height: 250px;
    background-color: #92B1B6;
   }
   

.pic {
    height: 250px;
    width: 100%;
    /*background-image: url(img/pexels-photo-167092.jpeg);*/
    /*background-repeat: no-repeat;
    position: center;
    background-size: auto;*/
}

header {
height: 80px;
width: auto;
background-color: #92B1B6;
display: grid;
grid-template-columns: repeat(12, 1fr);
justify-items: center;
align-items: center;
}

.home, .records, .about-us, .contact {
    width: 80px;
    height: 30px;
    background-color: #F1C5AE;
    font-family: Eczar;
    font-size: large;
    text-align: center;

}

ul, a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    display: grid;
    column-gap: 17%;
    text-decoration: none;
    color: black;
  }

a:hover {
    background-color: #ECDDD0;
}

.logo {
    grid-column: 3;
	
}

.home {
    
    grid-column: 5;
	
}

.records {
    grid-column: 6;
}

.about-us {
    grid-column: 7;
}

.contact {
    grid-column: 8;
}

.search {
    
     grid-column: 11;
        
   
}