.spacing {
    height: 20px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
}

.album-images-container {
    background-color: #CED2C2;
    height: 91%;
    width: 55%;
    box-sizing: inherit;
    

    display: flex;
    
    align-items: center;
    
    flex-flow: column nowrap;
    
}

.album-artFRONT {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 25px;
}

.album-artBACK {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-bottom: 25px;
}

.album-info-container {
    background-color: rgb(218, 218, 218);
    height: 60%;
    width: 30%;
    
    box-sizing: inherit;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.album-name {
    font-family: Eczar;
    margin-left: 10px;
    
}

.album-descript {
    margin-left: 10px;
}

.purchase {
    width: 100px;
    
    justify-self: center;
    align-self: center;
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        width: 100%;
    }
    .album-images-container {
        width: 100%;
        height: 50%;
    }

    .album-info-container{
        width: 100%;
        height: 80%;
    }
} 